body {
	
	margin: 0px;
	height: 100%;
	overflow: hidden;
	background-color:#a08880;
	color: white;
}

#container {
	margin: 0;
}

#screensaver  {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: none;
    transition: .3s ease;
    background-color: transparent;
    z-index: 100;
        }
   

#about {
	position: absolute;
	margin-left: 34%;
	margin-top: 17%;
    font-family: 'Proxima Nova', sans-serif;
	
}

P {
	margin: 20px;
	color: #fff;
	width: 30vw;
	z-index: 0;
	font-size: 24px;
	text-align: justify;

}

#text {
	color: pink;
	font-size: 20px;
}
#date {
	font-size: 20px;
	color: pink;

}
#ticker {
	position: absolute;
	bottom: 20px;
	margin: 20px;
	z-index: 100;
	font-size: 30px;
	color: white;
	mix-blend-mode: difference;
	font-family: 'Proxima Nova', sans-serif;

}

#draw {
	position: fixed;
	left: 5%;
	top: 92%;
	z-index: 200;
	}
