
.container {
  height: 100%;
  width: 100%;
  position: fixed;
}

.item {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    position: fixed;
}

.hey {
  background-color: black;
  border-radius: 50%;
	width: 50px;
	height: 50px;
  cursor: pointer;
  float: left;
  margin:10px 10px;
}

.button {
  background-color: grey;
}
.button2 {
  background-color: black;
}
/* bounce up */
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-60px) }
    60% {-webkit-transform: translateY(-40px);}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-60px);}
    60% {transform: translateY(-40px);}
}

.bounce {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: bounce;
    animation-name: bounce;
}


/* bounce left */
@-webkit-keyframes bounceLeft {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateX(-60px) }
    60% {-webkit-transform: translateX(-40px);}
}

@keyframes bounceLeft {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateX(-60px);}
    60% {transform: translateX(-40px);}
}

.bounceLeft {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: bounceLeft;
    animation-name: bounceLeft;
}


/* bounce right */
@-webkit-keyframes bounceRight {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateX(0);}
    40% {-webkit-transform: translateX(60px) }
    60% {-webkit-transform: translateX(40px);}
}

@keyframes bounceRight {
    0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
    40% {transform: translateX(60px);}
    60% {transform: translateX(40px);}
}

.bounceRight {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: bounceRight;
    animation-name: bounceRight;
}

/* Drop */
@-webkit-keyframes drop {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(60px) }
    60% {-webkit-transform: translateY(40px);}
}

@keyframes drop {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(60px);}
    60% {transform: translateY(40px);}
}

.drop {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: drop;
    animation-name: drop;
}


/* shrink */

@keyframes shrink {
    0%, 20%, 50%, 80%, 100% {transform: scale(1.0);}
    40% {transform: scale(0.6);}
    60% {transform: scale(0.7);}
}

@-webkit-keyframes shirnk {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: scale(1.0);}
    40% {-webkit-transform: scale(0.6);}
    60% {-webkit-transform: scale(0.7);}
}

.shrink {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: shrink;
    animation-name: shrink;
